<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="cover">
        <div class="overview">
            <div class="top-name">
                <h1>name of the thing</h1>
            </div>
            <div class="left-cluster">
                <div class="maybe-sometin">
                    <a [routerLink]="['intro']">intro<p></p></a>
                    <a [routerLink]="['my-comp']">my-comp<p></p></a>
                </div>
            </div>
            <div class="middle-img-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>
</html>
