<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="cover">
        <div class="overview">
            <div class="top-name">
                <h1>name of the thing</h1>
            </div>
            <div class="left-cluster">
                <div class="maybe-sometin">
                    <a [routerLink]="['Collection1']"><p>collection1</p></a>
                    <a [routerLink]="['Collection2']"><p>Collection2</p></a>
                    <a [routerLink]="['Collection3']"><p>collection3</p></a>
                    <a [routerLink]="['Collection4']"><p>collection4</p></a>
                    <!-- <p (click)="loadNames(url)">this is click</p> -->
                    <a [routerLink]="['my-comp']"><p>my-comp</p></a>
                    <pre>{{i}}</pre>
                </div>
            </div>
            <div class="middle-img-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>
</html>
<!-- 
<a [routerLink]="['intro']">intro<p></p></a>
<router-outlet></router-outlet> -->
<!-- <input type="checkbox" 
ng-checked="check">
<button ng-click="checkIt()" ng-model='check'>
    Click to Check 
</button> -->
