
body{
    overflow: hidden;
}

.cover{
    padding: 70px 0;
    overflow: scroll;
}

.images{
    display: flex;
    justify-content: space-evenly;
    background-color: #7fffd4;
    backdrop-filter: blur(5px);
    transform: rotate(25deg);
}
img{
    max-height: 600px;
    margin: 50px 0;
    max-width: fit-content;
}
